/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #efefef;
    background-color: #4a4845;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #efefef;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #bdc3c7;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.container {
    max-width: 940px;
}

.signin {
    margin: 10px 10px 0 0;
}

.header {
    background: #8b8983;
    margin: -10px 10px 10px 10px;
    min-height: 150px;
}

.site-title h1 {
    color: #ecf0f1;
    padding: 20px 0 0 10px;
}

span.close {
    cursor: pointer;
}

.row {
    margin: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    margin-right: 5px;
}

[class*='col-']:last-of-type {
    margin-right: 0px;
}

.col-1 {
    width: 66%;
}

.col-2 {
    width: 33.3%;
}

.top-sites {
    width: 48%;
    float: left;
    margin-right: 5px;
}

.top-sites:last-of-type {
    margin-right: 0px;
}

.site {
    border-bottom: 1px solid #979590;
    margin-bottom: 15px;
}

.site .title {
    font-weight: bold;
    padding-bottom: -10px;
}

.site p {
    font-size: 14px;
}


/* 
Panels
*/

.panel {
    margin-bottom: 20px;
    background-color: #8b8983;
    border: 1px solid #979590;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.panel-heading {
    background: #7e7c76;
    border-bottom: 1px solid #979590;
    padding: 10px 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}


/*
Alerts
*/

.alert {
    border: 1px solid transparent;
    margin-bottom: 20px;
    width: 92%;
    padding: 15px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #ecf0f1;
    background-color: #2ecc71;
    border-color: #27ae60;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    color: #ecf0f1;
    background-color: #3498db;
    border-color: #2980b9;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    color: #ecf0f1;
    background-color: #f1c40f;
    border-color: #f39c12;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    color: #ecf0f1;
    background-color: #e74c3c;
    border-color: #c0392b;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert-minimalist {
    color: #ecf0f1;
    background-color: #7e7c76;
    border-color: #64625e;
}

.alert-minimalist > [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}

.alert-minimalist > [data-notify="title"] {
    color: #ecf0f1;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-minimalist > [data-notify="message"] {
    font-size: 80%;
}


/*
forms
*/

.form-control {
    height: 28px;
    padding: 6px 12px;
    background-color: #979590;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.panel .form-control {
    margin-bottom: 15px;
}

.f-err {
    border: 1px solid #e74c3c;
}

.btn {
    cursor: pointer;
    padding: 6px 12px;
}

textarea.form-control {
    height: auto;
}

/*
Login
*/
#login {
    border: transparent;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
}

#login legend {
    font-size: 26px;
    font-weight: bold;
}

.label {
    font-color: #979590;
    font-size: 14px;
    width: 100%;
}

#login .form-control {
    width: 92%;
}

.hint {
    color: #999;
    font-size: 80%;
    margin: 0 auto;
    width: 300px;
}

#login .hint {
    clear: both;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;
}


/*
account
*/

.panel-body [id*='account-'] {
    margin-bottom: 20px;
    width: 100%;
}

.panel-body .label {
    color: #979590;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

/*
modal
*/

.modal-background {
    background: rgba(255, 255, 255, .8) url('../img/noise.png') repeat;
    display: none;
    height: 100%;
    margin: 0;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.modal {
    background: #fff;
    display: none;
    margin: 0 auto;
    width: 350px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.modal-input {
    margin-bottom: 4px;
    width: 100%;
}

.modal-footer {
    float: right;
}

.footer {
    border-top: 1px solid #979590;
    font-size: 12px;
}

@media (min-width: 750px) {
    html,
    body {
        background-color: #4a4845;
    }
    .container {
        background-color: #716f6a;
        margin: 0px auto 20px auto;
    }
    .msg-box {
        width: 300px;
    }
}

@media (max-width: 750px) {
    .signin {
        margin-right: 10px;
    }
    .container {
        margin: 10px auto;
    }
    [class*='col-'] {
        float: none;
    }
    .col-1,
    .col-2 {
        margin-top: 10px;
        width: 100%;
    }
    .msg-box {
        width: 100%;
    }
    .form-control {
        width: 90%
    }
    .btn {
        margin-top: 10px;
        width: 100%;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
